{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SRINIJ Home Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    
    <div class="container">
      <div class="card mx-auto" style="width: 18rem;">
  <img class="card-img-top" src="{{ employee.photo.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ employee.first_name }} {{ employee.last_name }}</h5>
    <p class="card-text">Designation: {{ employee.designation }}</p>
    <p class="card-text">Phone Number: {{ employee.phone_number }}</p>
    <p class="card-text">Email: {{ employee.email_address }}</p>
    
   
    <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
  </div>
</div>
      </div>
  </body>
</html>
